{% extends "pageBase.html" %}

{% block styles %}
{{ block.super }}

<style>
  .column {
    width: 200px;
  }

  .evenRow {
    background-color: #1BE084;
  }

  .headerCell {
    float: left;
    font-weight: bold;
  }

  .oddRow {
    background-color: #E0FFB8;
  }

  .tableCell {
    float: left;
  }

  .tweetRow {
    clear: left;
    float: left;
  }
</style>
{% endblock styles %}

{% block scripts %}
<!--<script src="{{ STATIC_URL }}scripts/jquery-1.9.1.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock scripts %}

{% block main %}
{{ block.super }}

<div id="formSection">
  <form action="" type="POST" onsubmit="search(); return false;">
    <label for="query">Search:</label>
    <input type="text" id="searchInput" name="query" />
    <button type="button" onclick="search()">Submit</button>
  </form>
</div>

<div id="resultSection">
  {% if not tweets %}
  <div>
  It appears that there are no tweets regarding this term.
  </div>
  {% else %}
  <div id="table">
    <div id="tableHeader">
      <div class="column headerCell">
      User
      </div>

      <div class="column headerCell">
      Created Date
      </div>

      <div class="column headerCell">
      Content
      </div>
    </div>
      
    <div id="tableBody">
      {% for tweet in tweets %}
      <div class="tweetRow {% cycle 'oddRow' 'evenRow'%}">
        <div class="column tableCell">
          <a href="{% url 'user_page' tweet.user.screen_name %}">{{ tweet.user.screen_name }}</a>
        </div>

        <div class="column tableCell">
        {{ tweet.created_at }}
        </div>

        <div class="column tableCell">
        {{ tweet.text }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  function search()
  {
    var searchInput = $('#searchInput');

    var data = {
      'query': searchInput.val()
    };
  
    var url = document.location + " #tableBody";
    $('#tableBody').load(url, data, function() {
      searchInput.val('');
    });
  }
</script>
{% endblock main %}
