<html>
  <head>
    <title></title>
    
    <style>
    .column {
      width: 200px;
    }

    .headerCell {
      float: left;
      font-weight: bold;
    }

    .tableCell {
      float: left;
    }

    .tweetRow {
      clear: left;
    }

    #userName {
      font-size: 25pt;
      font-weight: bold;
    }
    </style>
  </head>

  <body>
    <div id="userInfoSection">
      <div id="profilePicture">
      </div>

      <div id="userName">
      {{ handle }}
      </div>
    </div>
    {% if not tweets %}
    <div>
    It appears that this user has no tweets.
    </div>
    {% else %}
    <div id="table">
      <div id="tableHeader">
        <div class="column headerCell">
        User
        </div>

        <div class="column headerCell">
        Created Date
        </div>

        <div class="column headerCell">
        Content
        </div>
      </div>

      {% for tweet in tweets %}
      <div class="tweetRow">
        <div class="column tableCell">
        {{ tweet.user.screen_name }}
        </div>

        <div class="column tableCell">
        {{ tweet.created_date }}
        </div>

        <div class="column tableCell">
        {{ tweet.text }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
